@model List<Farg.Models.CarsDetail>
    @*@{ 
        Layout = null;
    }*@
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="~/Scss/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Designing/css/fontawesome.css">
    <link rel="stylesheet" href="~/Designing/css/style.css">
    <link rel="stylesheet" href="~/Designing/css/owl.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header style="margin-top:-100px">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href=@Url.Action("Home","Root")>
                    <h2>FARG</h2>

                    <h5 style="color:#cf490f">
                        
                            Florida Auto Remaking Group
                        
                    </h5>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link" href=@Url.Action("BuyOffLease","Root")>
                                Buy Off Lease
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("BuyTradeIn","Root")>Buy Trade In</a></li>


                        <li class="nav-item"><a class="nav-link" href=@Url.Action("SellOrTradeIn","Root")>Sell or Trade In</a></li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Finance","Root")>Finance</a></li>
                        <li class="nav-item"><a class="nav-link" href=@Url.Action("More","Root")>More</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->


    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-form">
                        <form action="/Root/BuyTradeIn_search" method="get">
                            <label>Search Inventory:</label>

                            <select class="form-control" name="cut">
                                <option value="">All</option>
                                <option value="new">New vehicle</option>
                                <option value="used">Used vehicle</option>
                            </select>

                            <label>Price:</label>

                            <select class="form-control">
                                <option value="">--All --</option>
                                <option value="">--All --</option>
                                <option value="">--All --</option>
                                <option value="">--All --</option>
                                <option value="">--All --</option>
                            </select>

                            <label>Year:</label>

                            <select class="form-control" name="year">
                                @foreach (var item in ViewBag.Years)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>

                            <label>Make:</label>

                            <select class="form-control" name="make">
                                @foreach (var item in ViewBag.Makes)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>

                            <label>Model:</label>

                            <select class="form-control" name="Model">
                                @foreach (var item in ViewBag.Models)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>

                            <label>Trim:</label>

                            <select class="form-control" name="trim">
                                @foreach (var item in ViewBag.Trims)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>

                            <label>Color:</label>

                            <select class="form-control" name="color">
                                @foreach (var item in ViewBag.Color)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>

                            <label>Type:</label>

                            <select class="form-control" name="type">
                                @foreach (var item in ViewBag.Types)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>

                            <label>Features:</label>

                            <select class="form-control">
                                <option value="">-- All --</option>
                                <option value="">-- All --</option>
                                <option value="">-- All --</option>
                                <option value="">-- All --</option>
                            </select>

                            <label>Miileage:</label>

                            <select class="form-control" name="milleage">
                                @foreach (var item in ViewBag.Milleages)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>



                            <button type="submit" class="filled-button btn-block">Search</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        @if (Model.Count>0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-6">
                                    <div class="product-item">
                                        <a href=@Url.Action("CarDetails","Root")><img src="@(item.CarPics.FirstOrDefault()?.Path)" alt=""></a>
                                        <div class="down-content">
                                            <a href=@Url.Action("CarDetails","Root")><h4>@item.Name</h4></a>

                                            <h6>@item.Mileage Miles / $@item.Price Monthly</h6>

                                            <p>@item.Power hp &nbsp;/&nbsp; @item.Fuel &nbsp;/&nbsp; @item.Model &nbsp;/&nbsp; Used vehicle</p>

                                            <small>
                                                <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong title="Author"><i class="fa fa-cube"></i> @item.Engine_size cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <strong title="Views"><i class="fa fa-cog"></i> @item.Gearbox</strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h4 class="alert alert-danger">Nothin' found.</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-bottom:100px">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form">
                        <form action="#" id="contact">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" class="form-control" placeholder="Pick-up location" required="">
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" class="form-control" placeholder="Return location" required="">
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" class="form-control" placeholder="Return date/time" required="">
                                    </fieldset>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter full name" required="">

                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" class="form-control" placeholder="Enter email address" required="">
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <input type="text" class="form-control" placeholder="Enter phone" required="">
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2 style="text-align:center;color:#0846a8"><strong>Browse Your Options</strong></h2>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                    <a href="#"> <img src="~/images/SUV.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>SUVs</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="#"> <img src="~/images/Sedan.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Sedan</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@

                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                    <a href="#"> <img src="~/images/Truck.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Trucks</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                    <a href="#"> <img src="~/images/Hybrid.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Hybrids</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="#"> <img src="~/images/Electrtic.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Electric</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                    <a href="#"> <img src="~/images/Van.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Van</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                    <a href="#"> <img src="~/images/Convertable.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Convertables</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="#"> <img src="~/images/Coupes.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Coupes</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>
                <div class="col-sm-6 col-lg-4 text-center item mb-4">

                    <a href="#"> <img src="~/images/Luxury.png" alt="Image" style="width:150px;height:150px"></a><br>
                    <p><strong>Luxury</strong></p>
                    @*<p class="price"><del>95.00</del> &mdash; $55.00</p>*@
                </div>

            </div>
        </div>
    </div>

    <footer class="site-footer" style="background-color:#d87135" margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <br>
                    <a class="navbar-brand" href=@Url.Action("Home","Root")>
                        <h2><strong style="color:white">FARG</strong></h2>

                        <p>
                            <strong style="color:white"> Florida Auto Remaking Group </strong>
                        </p>
                    </a> <br><br><br>
                    <a href="#" style="color:white">Buy Off Lease</a> <br><br>
                    <a href="#" style="color:white">Buy Trade Ins</a><br><br>
                    <a href="#" style="color:white">Sell Or Trade In</a><br><br>
                    <a href="#" style="color:white">Finance</a> <br>
                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <br>
                    <a class="navbar-brand" href=@Url.Action("Home","Root")>
                        <h2><strong style="color:white">About</strong></h2>


                    </a><br><br><br><br>
                    <a class="footer-heading mb-4" href="#" style="color:white">About Farg</></a><br><br>
                    <a class="footer-heading mb-4" href="#" style="color:white">About Us</></a><br><br>
                    <a class="footer-heading mb-4" href="#" style="color:white">Customers Reviews</a>

                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <br>
                        <h3 class="footer-heading mb-4" style="color:white">Contact Info</></h3><br><br>
                        <ul class="list-unstyled">
                            <br>
                            <li class="phone" style="color:white">Contact: 3049726092</></li>
                            <br>
                            <li class="address" style="color:white">4701 Orange Dr Ford Lauradelle FL 33314</li>

                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scss/jquery/jquery.min.js"></script>
    <script src="~/Scss/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/Designing/js/custom.js"></script>
    <script src="~/Designing/js/owl.js"></script>
</body>

</html>
